session.*
auto-save-list
semanticdb
eshell
.harvest
saveplaces
network-security.data
; Cask
.cask
cask
; Straight package manager.
straight/repos
straight/build
straight/modified
straight/bootstrap.el
straight/build-cache.el
; Magithubs cache.
magithub
; Undo tree history
undo-history
; Smex
smex-items
; Transient stuff
transient
; Forge database
forge-database.sqlite
; Projectile
.projectile.cache
.projectile-bookmarks.eld
; This one seems a bug, but ignore in for now.
projectile-bookmarks.eld
; LSP
.lsp-session-v1
; DAP
.dap-breakpoints
; Tramp history
tramp
; Yasnippet
**/.yas-compiled-snippets.el
; Keyfreq
keyfreq*
; Multiple cursors
.mc-lists.el
; EDE
ede-projects.el
; Game highscores
games
; W3 cookies
url
; Speed-type data
speed-type
; save-hist
history
; emacs-emojify
emojis
