session.*
auto-save-list
eshell
.harvest
saveplaces
network-security.data
# Cask
.cask
cask
# Undo tree history
undo-history
# Transient stuff
transient
# Forge database
forge-database.sqlite
# DAP
.dap-breakpoints
# Tramp history
tramp
# Yasnippet
**/.yas-compiled-snippets.el
# Keyfreq
keyfreq*
# Multiple cursors
.mc-lists.el
# Game highscores
games
# W3 cookies
url
# Speed-type data
speed-type
# save-hist
history
# emacs-emojify
emojis
# Reaper key
reaper-key.el
# Reaper autofile function
xen-reaper.el
# Passwords
authinfo.gpg
# Elpaca fetched repos and built packages.
elpaca/
# Devdocs docs (obviously).
devdocs/
# project.el projects
/projects
# Eldev
.eldev
# Native compilation cache
/eln-cache
# Data file for code-review
code-review-db-file.sqlite
# ellama storage
ellama-sessions
# ELPA cache, seems to keep cropping up.
elpa
# request cookiejar
request
# Treesitter compiled language libraries
tree-sitter
# Various storage for well-behaved (or just configured) packages 
var
