session.*
tramp
auto-save-list
.org-id-locations
elpa
.mc-lists.el
; Our token shouldn't be committed.
paradox-token.el
**/.yas-compiled-snippets.el
semanticdb
url
var
keyfreq*
ede-projects.el
.edbi-ds-history
.cask
.projectile-bookmarks.eld
eshell
.harvest
cask
